<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h3>Lista de peliculas de DH Movies:</h3>

    <ul class="listaPeliculas">

    <!-- 
      < % peliculas.map(pelicula => { %> 
      < %= <li class="pelicula"><a href="/detail/:id">PeliculaAMostrar</a></li> %>
      < % }) %> -->
    
    </ul>


  </body>
</html>
