<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>


    <form action="/users/login" method="POST">
    
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <p class="error">
            <% if(typeof errors != 'undefined') { %>
                <% if(errors.email) { %>
                    <%= errors.email.msg %> 
                <% } %>  
            <% } %>  
        </p>

        <label for="pass">Contraseña</label>
        <input type="password" name="password" id="pass">
        <p class="error">
            <% if(typeof errors != 'undefined') { %>
                <% if(errors.password) { %>
                    <%= errors.password.msg %> 
                <% } %>  
            <% } %>  
        </p>

        <% if(typeof error != 'undefined')  {%>
                    
            <p class="error">Los datos ingresados no coinciden</p>

        <% } %> 

        <input type="submit" value="Iniciá sesión">

    </form>

    <a href="/users/register">¿No estas registrado?</a>

    <a href="/">Volver a Home</a>

</body>
</html>
