<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>


    <form action="/users/login" method="POST">
    
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="pass">Contraseña</label>
        <input type="password" name="password" id="pass">

        <input type="submit" value="Iniciá sesión">

    </form>

    <a href="/users/register">¿No estas registrado?</a>

    <a href="/">Volver a Home</a>

</body>
</html>
