<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrega una nueva película</title>
    <link rel='stylesheet' href='/stylesheets/newFilm.css' />
</head>
<body>

    <header>

        <% if(locals.usuario) { %> 
        
            <form class="form-logout" action="/users" method="POST">
            
            <button class="logout" type="submit">Cerrar Sesión</button>
            
            </form>
        <% } %> 
      </header>
    <main class="fade-in">
    <h1>Agregá la nueva película</h1>

    <form action="/newFilm" method="POST">
    
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo">

        <label for="rating">Rating</label>
        <input type="number" min="1" max="10" name="rating" id="rating">

        <label for="awards">Awards</label>
        <input type="number" min="1" max="10" name="awards" id="awards">

        <label for="fechaEstreno">Fecha de Estreno</label>
        <input type="date" name="fechaEstreno" id="fechaEstreno">

        <label for="duración">Duración(en minutos)</label>
        <input type="text" name="duracion" id="duracion">

        <label for="genero">Género</label>
        <select name="genero" id="genero">
            <% generos.forEach(genero => { %>
                <option name="genero" value="<%= genero.name %>"><%= genero.name %></option>
            <% }) %> 
        </select>

        <button type="submit" class="agregar">¡Agregar Película!</button>
    
    </form>

    <a class="cambiarPagina" href="/">Volver a la Home</a>
</main>
</body>
</html>