<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar película</title>
</head>
<body>

    <header>
        <% if(locals.usuario) { %> 
      
            <form class="form-logout" action="/users" method="POST">
            
            <button class="logout" type="submit">Logout</button>
            
            </form>
        <% } %> 
      </header>
    
    <h1>Actualizá la película</h1>

    <form action="/detail/<%= pelicula.id %> /update" method="POST">
    
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo">

        <label for="rating">Rating</label>
        <input type="number" min="1" max="10" name="rating" id="rating">

        <label for="awards">Awards</label>
        <input type="number" min="1" max="10" name="awards" id="awards">

        <label for="fechaEstreno">Fecha de Estreno</label>
        <input type="date" name="releaseDate" id="fechaEstreno">

        <label for="duración">Duración(en minutos)</label>
        <input type="text" name="length" id="duracion">

        <label for="genero">Género</label>
        <select name="genre" id="genero">
            <% generos.forEach(genero => { %>
                <option value=""><%= genero.name %></option>
            <% }) %>
        </select>

        <button type="submit">Actualizá la Película!</button>
    
    </form>

    <a href="/">Volver a la Home</a>

</body>
</html>