<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/users.css' />

</head>
<body>

    <header>

        <% if(locals.usuario) { %> 
          <form class="form-logout" action="/users" method="POST">
          
            <button class="logout" type="submit">Cerrar Sesión</button>
          
          </form>
        <% } %> 
  
    </header>
    <main class="fade-in">
      <h1>Usuarios Cinefilos</h1>
      <ul>
        <% usuarios.forEach( usuario => { %>

            <li> <a href="/users/database/user-detail/<%= usuario.id %> "><%= usuario.email %></a></li>

        <% }) %> 
    </ul>

    <a class="cambiarPagina" href="/">Volver a la Home</a>

  </main>
</body>
</html>