* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    background-image: url('/../images/cine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.logout {
    padding: 20px;
    font-size: 2rem;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
}

.logout:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

main {
    background-color: whitesmoke;
    padding: 20px;
    width: 20%;
    border-radius: 20px;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    background-color: whitesmoke;
    padding: 20px;
    width: 20%;
    border-radius: 20px;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.fade-in {
    animation: fadeIn ease 2.5s forwards;
    -moz-animation: fadeIn ease 2.5s forwards;
    -webkit-animation: fadeIn ease 2.5s forwards;
    -moz-animation: fadeIn ease 2.5s forwards;
    -o-animation: fadeIn ease 2.5s forwards;
    -ms-animation: fadeIn ease 2.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(-100px);
    }

    50% {
        opacity:0.7;
    }

    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(-100px);
    }

    50% {
        opacity:0.7;
    }

    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(-100px);
    }

    50% {
        opacity:0.7;
    }

    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(-100px);
    }

    50% {
        opacity:0.7;
    }

    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(-100px);
    }

    50% {
        opacity:0.7;
    }

    100% {
        opacity:1;
    }
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 5%;
    margin-bottom: 2%;
}

input {
    border-radius: 20px;
    font-size: 1.4rem;
    padding: 10px;
    border: none;
    box-shadow: 2px 0px 10px black;
}

input[type=submit] {
    margin: 15% 0 8% 0;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.cambiarPagina {
    font-size: 1.4rem;
    text-align: center;
    margin: 2% 0;
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.cambiarPagina:hover {
    background-color: black;
    color: white;
}